.filter_form {
  font-size: 1.4rem;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.filter_form label {
  font-size: 1.6rem;
}

.filter_form input {
  border: 1px solid #ddd;
  width: 15rem;
  padding: 0.5rem;
  margin-left: 1rem;
  margin-right: 0.6rem;
}

.admin_order_header h2 {
  margin: 2rem 0 4rem 0;
  text-align: center;
  font-size: 4rem;
  font-weight: bold;
}

.content-box > div {
  max-width: 85rem;
  min-width: 73rem;
  text-align: center;
}

.admin_order_wapper .content-box {
  max-width: 100%;
}

.list_name,
.list_container {
  display: grid;
  grid-template-columns: 1fr 3fr 2fr 1fr 2fr 1fr;
}

.list_name > div {
  margin-bottom: 1.25rem;
  font-size: 1.25rem;
}

.list {
  font-size: 1.4rem;
  overflow: auto;
  height: 25rem;
  line-height: 2.2;
}

.all_order_list_bnt,
.back_admin_main_bnt {
  display: block;
  padding: 1rem 6rem;
  border-radius: 0.3rem;
  color: #fff;
  background-color: var(--dark);
  width: 100%;
  font-size: 1.6rem;
  margin: 1.5rem auto;
}

.all_order_list_bnt {
  background-color: var(--darkgray);
}

.order_detail_bnt {
  display: inline-block;
  color: var(--white);
  background-color: var(--darkgray);
  border-radius: 0.3rem;
  padding: 0.5rem 1rem;
}

button {
  display: inline-block;
  color: var(--white);
  background-color: var(--darkgray);
  border-radius: 0.3rem;
  padding: 0.5rem 1rem;
}
