<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../../../public/css/style.css" />
    <link rel="stylesheet" href="custom.css" />
    <title>Document</title>
  </head>
  <body>
    <header>
      <nav></nav>
    </header>
    <main>
      <div class="wrapper">
        <form action="#" class="new-item">
          <div class="field is-grouped">
            <label for="" class="label">카테고리명</label>
            <select name="" id="" class="category">
              <option value="---">카테고리 선택</option>
              <option value="fordog">개를위한</option>
              <option value="fourdog">개가넷</option>
              <option value="forcat">고양이를위한</option>
            </select>
          </div>
          <div class="field is-grouped">
            <label for="" class="label">제품명</label>
            <input
              type="text"
              name=""
              id=""
              class="input"
              placeholder="제품명을 입력"
            />
          </div>
          <div class="field is-grouped">
            <label for="" class="label">제조사</label>
            <input
              type="text"
              name=""
              id=""
              class="input"
              placeholder="제조사를 입력"
            />
          </div>
          <div class="field is-grouped">
            <label for="" class="label">가격</label>
            <input type="number" name="" id="" class="input" placeholder="0" />
          </div>
          <div class="field">
            <label for="" class="label">상품 이미지</label>
            <input type="file" name="" id="" class="input" />
          </div>
          <div class="field">
            <button class="button is-primary">등록 완료</button>
          </div>
        </form>
      </div>
    </main>
  </body>
</html>
