<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>주문 정보 수정</title>
    <link rel="stylesheet" href="/public/css/style.css" />
    <link rel="stylesheet" href="./custom.css" />
  </head>
  <body>
    <header>
      <h1>
        <a href="/"
          ><img src="/public/images/common/logo.png" alt="간식조아"
        /></a>
      </h1>
      <nav>
        <span><a href="/categories">제품</a></span>
        <span><a href="/login">로그인</a></span>
        <span><a href="/basket">장바구니</a></span>
        <span><a href="/payments">주문·배송</a></span>
      </nav>
    </header>

    <main>
      <div class="wrapper order_change">
        <div class="wrapper flex-column">
          <div class="order-number">
            <span>주문 번호: </span>
            <span>20221102-1502-1220228z1</span>
          </div>
          <div class="order">
            <h4>주문 내역</h4>
            <div class="order_wrapper flex-column">
              <div class="row">
                <span class="column">제품명</span>
                <span class="column">가격</span>
                <span class="column">수량</span>
              </div>
              <!-- <div class="row">
                <span class="order_summary">NOT FOR SALE</span>
                <span class="column order_status"> 2 </span>
                <span class="column order_price"> 2000 </span>
              </div> -->
            </div>
          </div>
        </div>
        <div class="wrapper delivery_detail receiver_info">
          <div class="delivery_info">
            <h4>배송 정보</h4>
            <div class="info flex-column">
              <div class="flex flex-row">
                <span>수령자 이름</span>
                <input type="text" class="input receiver_name" required />
              </div>
              <div class="flex flex-row">
                <span>수령자 전화번호</span>
                <input
                  type="text"
                  class="input receiver_phone"
                  placeholder="00000000000 -를 빼고 입력하세요"
                  required
                />
              </div>
            </div>
            <div class="info flex-column">
              <div class="address_field">
                <div class="field">
                  <input
                    type="text"
                    name="postal-code"
                    id="postal-code"
                    class="input is-primary receiver_address_long"
                    placeholder="주소"
                    disabled
                  />
                  <div class="field is-grouped">
                    <input
                      type="text"
                      name="postal-code"
                      id="postal-code"
                      class="input is-primary receiver_postal_code"
                      placeholder="12034"
                      disabled
                    />
                    <input
                      type="text"
                      name="postal-code"
                      id="postal-code"
                      class="input is-primary receiver_address_detail"
                      placeholder="상세주소"
                      disabled
                    />
                  </div>
                </div>
              </div>
              <div class="field">
                <button
                  class="button is-link is-small address_search"
                  type="button"
                >
                  주소 검색
                </button>
              </div>
            </div>
          </div>
          <button class="button is-link done_btn">수정 완료하기</button>
          <button class="button is-link cancel_btn">수정 취소</button>
        </div>
      </div>
    </main>
    <footer>&copy; 2022 오히려좋아 by elice 5팀</footer>
    <script src="https://t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
    <script src="./main.js" type="module"></script>
  </body>
</html>
