<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>간식조아 | 장바구니</title>
    <link rel="stylesheet" href="/public/css/style.css" />
    <script src="/public/scripts/layout.js" defer></script>
  </head>

  <body>
    <header></header>

    <main class="flex-column-center">
      <div class="content-box">
        <div class="basket">
          <!-- 맨윗부분 -->
          <div class="flex-justify-between">
            <div class="input_wrap">
              <input id="basketChkAll" type="checkbox" />
              <label for="basketChkAll"> 전체선택 </label>
            </div>
            <div>
              <button class="remove_selected_item small bg-darkgray">선택 삭제</button>
              <button class="remove_all_items small bg-dark">전체 삭제</button>
            </div>
          </div>
          <!-- 제품 리스트 부분 -->
          <!-- 한줄한줄 생성 -->
          <div class="basket_item_list overflow-h32 w-m">
            <div
              class="flex-all-center product"
              data-product_id="testId123zweqz"
            >
              <input type="checkbox" />
              <div class="img_wrap">
                <img
                  src="/public/images/products/driedFood/driedFood0.jpg"
                  alt=""
                  class="product_img"
                />
              </div>
              <div class="product_name">제품명제품명제품명...</div>
              <div class="product_price">2,000</div>
              <div>
                <input type="number" class="product_count" min="0" />
              </div>
            </div>
          </div>
          <div class="flex-center-space">
            <div>
              <span>총</span>
              <span class="product_total_price">0</span>
              <span>원</span>
            </div>
              <button class="payment middle bg-darkgreen">결제하기</button>
            </div>
          </div>
        </div>
      </div>
    </main>
    <footer></footer>
    <script src="./main.js" type="module"></script>
  </body>
</html>
