<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>장바구니</title>
    <link rel="stylesheet" href="/public/css/style.css" />
    <link rel="stylesheet" href="./custom.css" />
  </head>
  <body>
    <header>
      <h1>
        <!-- 임시로 제품 페이지 -->
        <a href="/">
          <img src="/public/images/common/logo.png" alt="간식조아" />
        </a>
      </h1>
      <nav>
        <span><a href="/">제품</a></span>
        <span><a href="/login">로그인</a></span>
        <span><a href="/basket">장바구니</a></span>
        <span><a href="/orders">주문·배송</a></span>
      </nav>
    </header>

    <main>
      <div class="basket">
        <!-- 맨윗부분 -->
        <div class="flex-justify-between">
          <div class="input_wrap">
            <input id="basketChkAll" type="checkbox" />
            <label for="basketChkAll"> 전체선택 </label>
          </div>
          <button class="remove_selected_item">선택 삭제</button>
        </div>
        <!-- 제품 리스트 부분 -->
        <!-- 한줄한줄 생성 -->
        <div class="basket_item_list">
          <div
            class="flex-justify-between product"
            data-product_id="testId123zweqz"
          >
            <input type="checkbox" />
            <div class="img_wrap">
              <img
                src="/public/images/products/driedFood/driedFood0.jpg"
                alt=""
                class="product_img"
              />
            </div>
            <div class="product_name">제품명제품명제품명...</div>
            <div class="product_price">2,000</div>
            <div>
              <input type="number" class="product_count" value="1" min="0" />
            </div>
          </div>
          <div
            class="flex-justify-between product"
            data-product_id="testId123zweqz213"
          >
            <input type="checkbox" />
            <div class="img_wrap">
              <img
                src="/public/images/products/driedFood/driedFood0.jpg"
                alt=""
              />
            </div>
            <div class="product_name">제품명제품명제품명...</div>
            <div class="product_price">2,000</div>
            <div>
              <input type="number" class="product_count" value="1" min="0" />
            </div>
          </div>
        </div>

        <!-- 총 금액 -->
        <div>
          <span>총</span>
          <span class="product_total_price">0</span>
          <span>원</span>
        </div>
        <!-- 마지막 결제하기 -->
        <div>
          <button class="button payment">결제하기</button>
        </div>
      </div>
    </main>
    <footer>&copy; 2022 오히려좋아 by elice 5팀</footer>
    <script src="./main.js" type="module"></script>
  </body>
</html>
