<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>제품</title>
    <link rel="stylesheet" href="/public/css/style.css" />
    <link rel="stylesheet" href="./custom.css" />
    <script src="/public/scripts/layout.js"></script>
    <script src="./main.js" defer></script>
  </head>
  <body>
    <header></header>

    <main>
      <h2><span>제품</span></h2>
      <!-- 카테고리 선택 태그 -->
      <ul class="category_tab"></ul>

      <!-- 탭처럼 위에 클릭에 따라 변경 -->
      <div class="products_box"></div>
    </main>
    <footer>&copy; 2022 오히려좋아 by elice 5팀</footer>
  </body>
</html>
