@charset "utf-8";

/* class로 관리하는 background color */
.bg-lightBlue {
  background-color: #6797f8;
}

.bg-blue {
  background-color: #557deb;
}

.bg-bg-red {
  background-color: #eb5555;
}

.bg-bg-deepred {
  background-color: #bf0000;
}

.bg-orange {
  background-color: #ff9225;
}

.bg-gray {
  background-color: #727272;
}

.bg-grey {
  background-color: #a9a9a9;
}

.bg-darkblue {
  background-color: #3f4181;
}

.bg-pink {
  background-color: #fc7383;
}

.bg-green {
  background-color: #18a956;
}

.bg-deepgreen {
  background-color: #1e8f4f;
}

.bg-violet {
  background-color: #6c6ad3;
}

.bg-Brown {
  background-color: #a86d4b;
}

.bg-lightgray {
  background-color: #f3f3f3;
}

.bg-yellow {
  background-color: #ffd400;
}

.bg-lightgreen {
  background-color: #67c314;
}

.bg-darkGreen {
  background-color: #64765f;
}

.bg-paleBlue {
  background: #f5f8ff;
}

.bg-paleGreen {
  background: #e9ffe9;
}

.bg-paleYellow {
  background: #fffee9;
}

.bg-pastelRed {
  background-color: #f85454;
}

.bg-pastelPink {
  background-color: #ff9f8d;
}

.bg-pastelYello {
  background-color: #ffc723;
}

.bg-pastelGreen {
  background-color: #72c6a5;
}

.bg-pastelPurple {
  background-color: #9395bf;
}

.bg-pastelGray {
  background-color: #9b9b9b;
}

.transparent {
  background-color: transparent;
}

.blind {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  margin: -1px;
  clip: rect(0, 0, 0, 0);
}

.unSeen {
  display: none;
}

/* margin */
.m-0-auto {
  margin: 0 auto;
}

.m-0 {
  margin: 0;
}

/* padding */
.p-0 {
  padding: 0;
}

/* padding 0 margin 0 */
.pm-reset {
  padding: 0;
  margin: 0;
}

.relativeDiv {
  position: relative;
}

/* font weight */
.bold {
  font-weight: bold;
}

/* font color */
.ft-Green {
  color: #37987d;
}

.ft-White {
  color: #fff;
}

.ft-Black {
  color: #333;
}

.ft-Red {
  color: #eb5555;
}

.ft-Org {
  color: #ff9225;
}

.ft-Yellow {
  color: #ffd400;
}

.ft-Lightgreen {
  color: #67c314;
}

.ft-Gray {
  color: #727272;
}

/* fz */
.fz-s {
  font-size: 0.5em;
}

.fz-m {
  font-size: 1em;
}

.fz-l {
  font-size: 1.5em;
}

.fz-m-l- {
  font-size: 2em;
}

.fz-xl {
  font-size: 2.5em;
}

/* width px */
.w-3em {
  width: 3em;
}

/* margin-top */
.m-t-ss {55555555
  margin-top: 0.25em;
}

.m-t-s {
  margin-top: 0.5em;
}

.m-t-m {
  margin-top: 1em;
}

.m-t-ml {
  margin-top: 1.5em;
}

.m-t-l {
  margin-top: 2em;
}

.m-t-xl {
  margin-top: 2.5em;
}

/* margin-bottom */
.m-b-ss {
  margin-bottom: 0.25em;
}

.m-b-s {
  margin-bottom: 0.5em;
}

.m-b-m {
  margin-bottom: 1em;
}

.m-b-ml {
  margin-bottom: 1.5em;
}

.m-b-l {
  margin-bottom: 2em;
}

.m-b-xl {
  margin-bottom: 2.5em;
}

/* padding-top */
.pt5 {
  padding-top: 5px;
}

.pt10 {
  padding-top: 10px;
}

.pt15 {
  padding-top: 15px;
}

.pt20 {
  padding-top: 20px;
}

.pt25 {
  padding-top: 25px;
}

.pt30 {
  padding-top: 30px;
}

.pt35 {
  padding-top: 35px;
}

.pt40 {
  padding-top: 40px;
}

/* padding-bottom */
.pb5 {
  padding-bottom: 5px;
}

.pb10 {
  padding-bottom: 10px;
}

.pb15 {
  padding-bottom: 15px;
}

.pb20 {
  padding-bottom: 20px;
}

.pb25 {
  padding-bottom: 25px;
}

.pb30 {
  padding-bottom: 30px;
}

.pb35 {
  padding-bottom: 35px;
}

.pb40 {
  padding-bottom: 40px;
}

/* padding-right */
.pr5 {
  padding-right: 5px;
}

.pr10 {
  padding-right: 10px;
}

.pr15 {
  padding-right: 15px;
}

.pr20 {
  padding-right: 20px;
}

.pr25 {
  padding-right: 25px;
}

.pr30 {
  padding-right: 30px;
}

.pr35 {
  padding-right: 35px;
}

.pr40 {
  padding-right: 40px;
}

/* padding-left */
.pl5 {
  padding-left: 5px;
}

.pl10 {
  padding-left: 10px;
}

.pl15 {
  padding-left: 15px;
}

.pl20 {
  padding-left: 20px;
}

.pl25 {
  padding-left: 25px;
}

.pl30 {
  padding-left: 30px;
}

.pl35 {
  padding-left: 35px;
}

.pl40 {
  padding-left: 40px;
}

.relative {
  position: relative;
}

/* txt-style */
.detailText {
  font-size: 11px;
  color: #888;
  margin-left: 0px;
  margin-bottom: 12px;
}

.smallTitle {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 13px;
}

.smallTitle i {
  font-size: 18px;
  vertical-align: text-bottom;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.diagDetail {
  font-size: 11px;
  color: #888;
  margin-left: 0px;
  margin-bottom: 12px;
  margin-top: 5px;
  line-height: 1.6;
}

/* 대시보드 장식용 동그라미 */
.redCircle {
  width: 12px;
  height: 12px;
  background: red;
  border-radius: 50%;
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
}

/* orguser 추가 팝업 */
/* 상태 표시 버튼 */
.stsMsg {
  display: inline-block;
  width: 75px;
  text-align: center;
  padding: 5px 0;
  color: #fff;
  border-radius: 3px;
  cursor: default;
  box-shadow: 3px 3px 3px #e5e5e5;
}

/* 점수 표시 동그라미 */
.circleMsg {
  display: inline-block;
  border: none;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  border-radius: 4px;
  padding: 5px 8px;
  color: #fff;
  box-shadow: 3px 3px 3px #e5e5e5;
  vertical-align: middle;
  width: 47px;
  cursor: default;
  text-align: center;
}
