/* 임시로 박음 */

.flex {
  display: flex;
}

.flex-justify-center {
  display: flex;
  justify-content: center;
}

.flex-all-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-justify-between {
  display: flex;
  justify-content: space-between;
}
