<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <!-- <link rel="stylesheet" href="../../../public/css/style.css" /> -->
    <link rel="stylesheet" href="custom.css" />
  </head>
  <body>
    <header><nav>header</nav></header>
    <main>
      <div class="admin_product_wapper">
        <div class="admin_product_header">
          <h1>상품 목록</h1>
          <button class="back_admin_main_bnt">전체 메뉴로</button>
        </div>
        <div class="admin_product_workspace">
          <div class="product_list_name">
            <div><span>상품명</span></div>
            <div><span>카테고리</span></div>
            <div><span>설명</span></div>
            <div><span>제조사</span></div>
            <div><span>가격</span></div>
            <!-- <div><span>상세</span></div> -->
          </div>
          <div class="products"></div>
        </div>
      </div>
    </main>
    <footer></footer>
    <script src="main.js"></script>
  </body>
</html>
