<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css"
    />
    <link rel="stylesheet" href="./orders.css" />
    <title>Orders</title>
  </head>
  <body>
    <header>
      <nav></nav>
    </header>
    <main>
      <div class="wrapper order-detail">
        <div class="wrapper flex-column">
          <div class="order-number">
            <span>주문 번호: </span>
            <span>20221102-1502-1220228z1</span>
          </div>
          <div class="order-history">
            <h4>주문 내역</h4>
            <div class="order-wrapper flex-column">
              <div class="row">
                <span class="column">제품명</span>
                <span class="column">가격</span>
                <span class="column">수량</span>
              </div>
              <div class="row">
                <span class="column">
                  <img src="#" alt="" width="60" height="60" class="item-img" />
                  <span>NOT FOR SALE</span>
                </span>
                <span class="column"> 2000 </span>
                <span class="column"> 2 </span>
              </div>
            </div>
            <div class="total_price">
              <span>총</span>
              <span>~~~~~~~~~원</span>
            </div>
          </div>
        </div>
        <div class="wrapper">
          <div class="delevery-info">
            <h4>배송 정보</h4>
            <div class="info flex-column">
              <div class="address-change">
                <div class="field">
                  <input
                    type="text"
                    name="postal-code"
                    id="postal-code"
                    class="input is-primary"
                    value="주소지의 가장 긴 부분"
                    disabled
                  />
                  <div class="field is-grouped">
                    <input
                      type="text"
                      name="postal-code"
                      id="postal-code"
                      class="input is-primary"
                      value="12034"
                      disabled
                    />
                    <input
                      type="text"
                      name="postal-code"
                      id="postal-code"
                      class="input is-primary"
                      value="주소지의 짤은 부분"
                      disabled
                    />
                  </div>
                </div>
              </div>
              <div class="field">
                <button class="button is-link is-small">주소 검색</button>
              </div>
            </div>
          </div>
          <button class="button is-link">수정 완료하기</button>
        </div>
      </div>
    </main>
  </body>
</html>
