<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="admin.css" />
  </head>
  <body>
    <header>
      <nav></nav>
    </header>
    <main>
      <div class="adminWapper">
        <div class="adminNavContainer">
          <div class="navItemContainer">
            <span class="navItem"> 카테고리 관리 </span>
          </div>
          <div class="navItemContainer">
            <span class="navItem"> 상품 관리 </span>
          </div>
          <div class="navItemContainer">
            <span class="navItem"> 유저 관리 </span>
          </div>
          <div class="navItemContainer">
            <span class="navItem"> 주문 관리 </span>
          </div>
        </div>
        <div class="workspace">해당 구역은 작업공간이다.</div>
      </div>
    </main>
    <footer></footer>
  </body>
</html>
