.wrapper {
  width: 80%;
  margin: 0 auto;
  border: 1px solid black;
  padding: 1rem;
  margin-bottom: 0.5rem;
}
.wrapper .button {
  padding: 0.5rem;
  width: max-content;
  border: 1px solid black;
  margin: 0.5rem;
}
.edit-profile {
  text-decoration: none;
}

.wrapper.flex-column {
  display: flex;
  flex-direction: column;
}
.wrapper.flex-column .column {
  display: flex;
}

.wrapper.address {
  display: flex;
  flex-direction: column;
}
.wrapper.address .column:last-child {
  display: flex;
}
.wrapper.address .column:last-child .row {
  margin: 0.5rem;
}

.wrapper.orders {
  display: flex;
  flex-direction: column;
}
.order-table {
  display: flex;
  flex-direction: column;
}
.order-table__header {
  display: flex;
}
.order-table__column {
  display: flex;
}
