<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>마이페이지</title>
    <link rel="stylesheet" href="/public/css/style.css" />
    <link rel="stylesheet" href="./custom.css" />
  </head>
  <body>
    <header>
      <h1>
        <!-- 임시로 제품 페이지 -->
        <a href="/">
          <img src="/public/images/common/logo.png" alt="간식조아" />
        </a>
      </h1>
      <nav>
        <span><a href="/">제품</a></span>
        <span><a href="/login">로그인</a></span>
        <span><a href="/basket">장바구니</a></span>
        <span><a href="/orders">주문·배송</a></span>
      </nav>
    </header>

    <main>
      <div class="wrapper">
        <div class="button">
          <a href="/profile-edit" class="edit-profile">내 정보 수정</a>
        </div>
        <div class="wrapper flex-column">
          <div class="column">
            <div class="row">사용자명:</div>
            <div class="row username">Username</div>
          </div>
          <div class="column">
            <div class="row">이메일:</div>
            <div class="row email">something@went.wrong</div>
          </div>
          <div class="column">
            <div class="row">전화번호:</div>
            <div class="row phone">012-3456-7890</div>
          </div>
        </div>
      </div>
      <div class="wrapper address">
        배송지정보
        <br />
        <div class="column">
          <div class="address-long">열한시 오십구분</div>
        </div>
        <div class="column">
          <div class="row postal-code">00000</div>
          <div class="row address-detail">오십오초</div>
        </div>
      </div>
      <div class="wrapper orders">
        <div class="info">주문이력</div>
        <div class="order-table">
          <div class="order-table__header">
            <div class="row">주문번호</div>
            <div class="row">배송상태</div>
            <div class="row">금액</div>
          </div>
          <div class="order-table__column">
            <div class="order-table__column-row">01</div>
            <div class="order-table__column-row">배송중</div>
            <div class="order-table__column-row">10000</div>
          </div>
          <div class="order-table__column">
            <div class="order-table__column-row">02</div>
            <div class="order-table__column-row">배송준비</div>
            <div class="order-table__column-row">12000</div>
          </div>
          <div class="order-table__column">
            <div class="order-table__column-row">03</div>
            <div class="order-table__column-row">배송완료</div>
            <div class="order-table__column-row">1000000</div>
          </div>
        </div>
      </div>
    </main>
    <footer>&copy; 2022 오히려좋아 by elice 5팀</footer>
    <script src="./main.js" type="module"></script>
  </body>
</html>
