<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/public/css/style.css" />
    <link rel="stylesheet" href="./custom.css" />
    <script src="/public/scripts/layout.js"></script>
  <script src="./main.js" defer></script>
  </head>
  <body>
    <header></header>

    <main class="flex-column-center">
      <div class="box-style-center">
        <form action="#" class="login">
          <div>
            <label>Email</label>
            <input
              class="login-email"
              type="email"
              placeholder="이메일을 입력해주세요"
              autocomplete="false"
            />
          </div>

          <div>
            <label for="">Password</label>
            <input
              type="password"
              name="password"
              id="password"
              class="login-pw"
              placeholder="비밀번호를 입력해주세요"
              value=""
            />
          </div>

          <div>
            <button class="login-btn full bg-darkgreen">Login</button>
          </div>
        </form>
        <div class="btn-collect">
          <a href="#">비밀번호 찾기</a>
          <a href="/register">회원가입</a>
        </div>
      </div>
    </main>
    <footer>&copy; 2022 오히려좋아 by elice 5팀</footer>
  </body>
</html>
