<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="keyword" content="고양이 사료 장난감 츄르 간식 화장실 용품" />
    <meta name="description" content="반려동물 친구들을 위한 다양한 아이템샵" />
    <meta name="author" content="[5팀]오히려좋아" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://kdt-sw3-team05.elicecoding.com/" />
    <meta property="og:title" content="(주) 간식조아" />
    <meta property="og:site_name" content="[5팀]오히려좋아" />
    <meta
      property="og:description"
      content="반려동물 친구들을 위한 다양한 아이템샵"
    />
    <meta property="og:locale" content="ko_KR" />
    <meta property="og:image" content="/public/images/common/logo-square.png" />
    <meta property="og:image:width" content="400" />
    <meta property="og:image:height" content="400" />
    <title>로그인 | 간식조아</title>
    <link rel="shortcut icon" href="/public/images/common/favicon.ico" />
    <link rel="stylesheet" href="/public/css/style.css" />
    <script src="/public/scripts/layout.js" defer></script>
    <script type="module" src="./main.js" defer></script>
  </head>
  <body>
    <header></header>

    <main class="flex-column-center">
      <div class="box-style-center">
        <form action="#" class="login">
          <div>
            <label>Email</label>
            <input
              type="email"
              name="email"
              placeholder="이메일을 입력해주세요"
              autocomplete="false"
            />
          </div>

          <div>
            <label>Password</label>
            <input
              type="password"
              name="password"
              id="password"
              placeholder="비밀번호를 입력해주세요"
            />
          </div>

          <div>
            <button class="login-btn full bg-darkgreen">Login</button>
          </div>
        </form>
        <div class="btn-collect">
          <a href="#">비밀번호 찾기</a>
          <a href="/register">회원가입</a>
        </div>
      </div>
    </main>
    <footer>&copy; 2022 오히려좋아 by elice 5팀</footer>
  </body>
</html>
