.main_wrapper {
  position: relative;
  height: calc(100vh - 9.7rem);
}

.main_txt {
  position: absolute;
  top: 34%;
  left: 14%;
  transform: translateY(-50%);
  z-index: 1;
}

.main_txt p {
  font-size: 4rem;
  padding: 1rem 0 1.5rem;
}
.main_txt div {
  font-size: 2rem;
  margin-bottom: 1.5rem;
}

.main_bg {
  position: absolute;
  top: 53%;
  right: 19%;
  transform: translateY(-50%);
  width: 30rem;
  height: 28rem;
  background-image: url(/public/images/products/snack/snack2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.products_box {
  display: flex;
  flex-wrap: wrap;
  min-height: 50rem;
}

.products_box .img_wrap {
  width: 25%;
  height: 25rem;
  padding: 1rem;
}

.products_box .img_wrap a {
  display: inline-block;
  width: 100%;
  height: 100%;
  border-radius: 1.5rem;
  overflow: hidden;
  border: 1px solid #ddd;
}

.products_box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
