<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>메인 페이지</title>
    <link rel="stylesheet" href="../../public/css/style.css" />
    <link rel="stylesheet" href="./custom.css" />
    <link rel="stylesheet" href="./script.js" defer />
  </head>
  <body>
    <header>
      <h1>
        <!-- 임시로 제품 페이지 -->
        <a href="../categories/categories.html"
          ><img src="../../../1.public/images/common/logo.png" alt="간식조아"
        /></a>
      </h1>
      <nav>
        <span><a href="../users/categories/index.html">제품</a></span>
        <span><a href="../../login/login.html">로그인</a></span>
        <span><a href="../basket/basket.html">장바구니</a></span>
        <span><a href="../orders/orders.html">주문·배송</a></span>
      </nav>
    </header>

    <main>
      <!-- 추후에 배너 -->
      <!-- 카테고리 선택 태그 -->
      <h2>상품 미리 보기</h2>
      <ul class="main_categories">
        <!-- <li><a href="#">사료</a></li> -->
      </ul>

      <!-- 탭처럼 위에 클릭에 따라 변경 -->
      <div class="main_products_list">
        <div class="main_products_wrap">
          <!-- <div class="img_wrap">
            <img
              src="../../public/images/products/driedFood/driedFood0.jpg"
              alt="건식사료 아카나"
            />
          </div> -->
        </div>
      </div>
    </main>
    <footer>&copy; 2022 오히려좋아 by elice 5팀</footer>
  </body>
</html>
