<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>메인 페이지</title>
    <link rel="stylesheet" href="/public/css/style.css" />
    <link rel="stylesheet" href="./custom.css" />
    <script
      src="https://kit.fontawesome.com/3d213428c6.js"
      crossorigin="anonymous"
    ></script>
    <script src="/public/scripts/layout.js" defer></script>
    <script src="./main.js" defer></script>
  </head>
  <body>
    <header class="flex-justify-between"></header>

    <main>
      <div class="main_wrapper">
        <div class="main_txt">
          <span class="color-pink fz-s bold">new!</span>
          <p>냥냥이도 댕댕이도 조아해요</p>
          <div>[멍냥이랑] 선인장 세라믹 정수기 1.5L</div>
          <a href="#" class="bg-pink btn-s">See details &gt;&gt;</a>
        </div>
        <div class="main_bg"></div>
      </div>

      <div class="main_bottom">
        <h2><span class="hightlight">상품 미리보기</span></h2>
        <ul class="category_tab"></ul>
        <div class="products_box"></div>
        <div class="more"><a href="/product">more +</a></div>
      </div>
    </main>
    <footer></footer>
  </body>
</html>
