<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="keyword" content="고양이 사료 장난감 츄르 간식 화장실 용품" />
    <meta name="description" content="반려동물 친구들을 위한 다양한 아이템샵" />
    <meta name="author" content="[5팀]오히려좋아" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://kdt-sw3-team05.elicecoding.com/" />
    <meta property="og:title" content="(주) 간식조아" />
    <meta property="og:site_name" content="[5팀]오히려좋아" />
    <meta property="og:description" content="반려동물 친구들을 위한 아이템샵" />
    <meta property="og:locale" content="ko_KR" />
    <meta property="og:image" content="/public/images/common/logo-square.png" />
    <meta property="og:image:width" content="400" />
    <meta property="og:image:height" content="400" />
    <title>간식조아 💗</title>
    <link rel="shortcut icon" href="/public/images/common/favicon.ico" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
    />
    <link rel="stylesheet" href="/public/css/style.css" />
    <link rel="stylesheet" href="./custom.css" />
    <script
      src="https://kit.fontawesome.com/3d213428c6.js"
      crossorigin="anonymous"
    ></script>
    <script type="module" src="/public/scripts/layout.js" defer></script>
    <script type="module" src="./main.js" defer></script>
  </head>
  <body>
    <header></header>
    <main>
      <div class="main_wrapper">
        <div class="main_txt">
          <span class="color-pink fz-s bold">new!</span>
          <p>냐옹님이 엄청 좋아하는</p>
          <div>[이나바] 마구로쥬레 참치맛</div>
          <a
            href="/product-detail/636e2c3b68b6a5d136b2694c"
            class="bg-pink btn-s"
            >See details &gt;&gt;</a
          >
        </div>
        <div class="main_bg"></div>
      </div>

      <div class="main_bottom">
        <h2><span class="hightlight">상품 미리보기</span></h2>
        <ul class="category_tab"></ul>
        <div class="products_box"></div>
        <div class="more"><a href="/product">더보기 +</a></div>
      </div>
    </main>
    <footer></footer>
  </body>
</html>
