<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>제품 상세보기</title>
    <link rel="stylesheet" href="/public/css/style.css" />
    <link rel="stylesheet" href="./custom.css" />
    <script src="./script.js" defer></script>
  </head>
  <body>
    <header>
      <h1>
        <a href="/"
          ><img src="/public/images/common/logo.png" alt="간식조아"
        /></a>
      </h1>
      <nav>
        <span><a href="/product">제품</a></span>
        <span><a href="/profile">내정보</a></span>
        <span><a href="/login">로그인</a></span>
        <span><a href="/logout">로그아웃</a></span>
        <span><a href="/register">회원가입</a></span>
        <span><a href="/basket">장바구니</a></span>
        <span><a href="/pay-history">주문·배송</a></span>
      </nav>
    </header>

    <main>
      <div>
        <div class="product-breadcrumb">
          <a href="/">Main</a>
          &gt;
          <a href="/categories">제품</a>
          &gt;
          <a href="#">아카나5kg</a>
        </div>
        <div class="flex">
          <div class="img_wrap">
            <!-- 임시로 이미지 삽입 -->
            <img
              src="/public/images/products/driedFood/driedFood0.jpg"
              alt="건식사료 아카나"
            />
          </div>

          <div class="product-detail"></div>
        </div>
      </div>
    </main>
    <footer>&copy; 2022 오히려좋아 by elice 5팀</footer>
  </body>
</html>
