<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>제품 상세보기</title>
    <link rel="stylesheet" href="/public/css/style.css" />
    <link rel="stylesheet" href="./custom.css" />
    <script src="/public/scripts/layout.js" defer></script>
    <script src="./main.js" defer></script>
  </head>
  <body>
    <header></header>

    <main>
      <div class="box-style-center">
        <div class="product-breadcrumb">
          <a href="/">Main</a>
          &gt;
          <a href="/categories">제품</a>
          &gt;
          <a href="#">아카나5kg</a>
        </div>

        <div class="flex-justify-center">
          <div class="img_wrap">
            <!-- 임시로 이미지 삽입 -->
            <img
              src="/public/images/products/driedFood/driedFood0.jpg"
              alt="건식사료 아카나"
            />
          </div>

          <div class="product-detail"></div>
        </div>
      </div>
    </main>
    <footer></footer>
  </body>
</html>
