<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <!-- <link rel="stylesheet" href="../../../public/css/style.css" /> -->
    <link rel="stylesheet" href="custom.css" />
  </head>
  <body>
    <header>
      <nav>haeder</nav>
    </header>
    <main>
      <div class="admin_category_wapper">
        <div class="admin_category_header">
          <h1>카테고리 목록</h1>
          <button class="back_admin_main_bnt">전체 메뉴로</button>
        </div>
        <div class="admin_category_workspace"></div>
        <button class="admin_category_edit_bnt">수정하기</button>
      </div>
      <div class="editBntContainer"></div>
    </main>
    <footer></footer>
    <script src="main.js"></script>
  </body>
</html>
