<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>결제하기</title>
    <link rel="stylesheet" href="/public/css/style.css" />
    <link rel="stylesheet" href="./custom.css" />
  </head>
  <body>
    <header>
      <h1>
        <!-- 임시로 제품 페이지 -->
        <a href="/">
          <img src="/public/images/common/logo.png" alt="간식조아" />
        </a>
      </h1>
      <nav>
        <span><a href="/">제품</a></span>
        <span><a href="/login">로그인</a></span>
        <span><a href="/basket">장바구니</a></span>
        <span><a href="/orders">주문·배송</a></span>
      </nav>
    </header>
    <main>
      <div class="payments">
        <!-- 제품 리스트 부분 -->
        <!-- 한줄한줄 생성 -->
        <div class="orders">
          <div class="flex-justify-between order">
            <input type="checkbox" />
            <div class="img_wrap">
              <img
                src="/public/images/products/driedFood/driedFood0.jpg"
                alt=""
              />
            </div>
            <div>제품명제품명제품명...</div>
            <div>2,000</div>
            <div><input type="number" value="1" disabled /></div>
          </div>
        </div>

        <!-- 주문정보 -->
        <div class="user_info">
          <div>주문정보</div>
          <div class="flex flex-row">
            <span>이름</span>
            <span class="username">김까망</span>
          </div>
          <div class="flex flex-row">
            <span>주소</span>
            <span class="postal_code">00000</span>
            <span class="address">서울시 강서구 블라블라블라라라라라</span>
          </div>
          <div class="flex flex-row">
            <span>연락처</span>
            <span class="phone">010-0000-0000</span>
          </div>
        </div>

        <!-- 배송지 정보 -->
        <div class="receiver_info">
          <div>배송지 정보</div>
          <div class="flex flex-row">
            <span>수령자 이름</span>
            <input type="text" class="input receiver_name" required />
          </div>
          <div class="flex flex-row">
            <span>수령자 전화번호</span>
            <input
              type="text"
              class="input receiver_phone"
              required
              placeholder="00000000000 -를 빼고 입력하세요"
            />
          </div>
          <div class="flex flex-row">
            <span>배송주소</span>
            <input
              type="text"
              class="input receiver_postal_code"
              disabled
              required
            />
            <input
              type="text"
              class="input receiver_address_long"
              disabled
              required
            />
            <input
              type="text"
              class="input receiver_address_detail"
              disabled
              required
            />
            <button type="button" class="address_search">주소 검색</button>
          </div>
          <div class="flex flex-row">
            <span>배송 메시지</span>
            <input
              type="text"
              class="input delevery_message"
              required
              placeholder="배송 메시지를 남겨주세요."
            />
          </div>
        </div>

        <!-- 결제 방법 -->
        <div>
          <input id="impsi_radio" type="radio" class="payment_type" required />
          <label for="impsi_radio">바로 결제</label>
        </div>

        <!-- 총 금액 -->
        <div>
          <span>총</span>
          <span class="order_total_price">20,000</span>
          <span>원</span>
        </div>
        <!-- 마지막 결제하기 -->
        <div>
          <button type="button" class="payment_button">결제하기</button>
        </div>
      </div>
    </main>
    <footer>&copy; 2022 오히려좋아 by elice 5팀</footer>
    <script src="https://t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
    <script src="./main.js" type="module"></script>
  </body>
</html>
