<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="keyword" content="고양이 사료 장난감 츄르 간식 화장실 용품" />
    <meta name="description" content="반려동물 친구들을 위한 다양한 아이템샵" />
    <meta name="author" content="[5팀]오히려좋아" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://kdt-sw3-team05.elicecoding.com/" />
    <meta property="og:title" content="(주) 간식조아" />
    <meta property="og:site_name" content="[5팀]오히려좋아" />
    <meta
      property="og:description"
      content="반려동물 친구들을 위한 다양한 아이템샵"
    />
    <meta property="og:locale" content="ko_KR" />
    <meta property="og:image" content="/public/images/common/logo-square.png" />
    <meta property="og:image:width" content="400" />
    <meta property="og:image:height" content="400" />
    <title>결제하기 | 간식조아</title>
    <link rel="shortcut icon" href="/public/images/common/favicon.ico" />
    <link rel="stylesheet" href="/public/css/style.css" />
    <script type="module" src="/public/scripts/layout.js" defer></script>
  </head>
  <body>
    <header></header>
    <main class="flex-all-center">
      <div class="content-box">
        <div class="payments">
          <div class="orders overflow-h21"></div>
          <div class="user_info box"></div>

          <div class="receiver_info box">
            <em>배송지 정보</em>
            <div class="flex-column-center">
              <span>수령자 이름</span>
              <input type="text" class="input receiver_name" required />
            </div>
            <div class="flex-column-center">
              <span>수령자 전화번호</span>
              <input
                type="text"
                class="input receiver_phone"
                required
                placeholder="숫자만 입력하세요"
              />
            </div>
            <div class="flex-column-center">
              <span>배송주소</span>
              <div class="flex-direction-column">
                <div>
                  <input
                    type="text"
                    class="input receiver_postal_code"
                    disabled
                    required
                  />
                  <input
                    type="text"
                    class="input receiver_address_long"
                    disabled
                    required
                  />
                </div>
                <div>
                  <input
                    type="text"
                    class="input receiver_address_detail"
                    disabled
                    required
                  />
                  <button
                    type="button"
                    class="address_search small bg-deepgray mt-s"
                  >
                    주소 검색
                  </button>
                </div>
              </div>
            </div>
            <div class="flex-column-center">
              <span>배송 메시지</span>
              <input
                type="text"
                class="input delevery_message"
                required
                placeholder="배송 메시지를 남겨주세요."
              />
            </div>
          </div>

          <div class="right">
            <div>
              <input
                id="impsi_radio"
                type="radio"
                class="payment_type"
                required
              />
              <label for="impsi_radio" class="right w-s">바로 결제</label>
            </div>

            <div>
              <div class="font-hightlight">
                <span>총</span>
                <span class="order_total_price">20,000</span>
                <span>원</span>
              </div>

              <div>
                <button
                  type="button"
                  class="payment_button middle bg-darkgreen"
                >
                  결제하기
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
    <footer></footer>
    <script src="https://t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
    <script src="./main.js" type="module"></script>
  </body>
</html>
