<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>간식조아 | 주문 이력 조회</title>
    <link rel="stylesheet" href="/public/css/style.css" />
    <script src="/public/scripts/layout.js"></script>
  </head>
  <body>
    <header></header>

    <main class="flex-column-center">
      <div class="content-box">
        <em>주문 이력 조회</em>
        <div class="table-box w-l h-l">
          <div class="flex-justify-between payment_history_header">
            <span>주문번호</span>
            <span>주문 요약</span>
            <span>배송 상태</span>
            <span>결제 금액</span>
          </div>
          <div class="payment_history_body">
            <!-- 여기부터 -->
            <div class="flex-justify-between payment_history_detail">
              <span class="order_number">
                <a href="/orders/202212313"> 20221102132 </a>
              </span>
              <span class="order_title">제품명제품명제품명...</span>
              <span class="order_status">배송 준비중</span>
              <span class="order_total_price">250,000원</span>
            </div>
            <!-- 여기까지 -->
          </div>
        </div>
      </div>
    </main>
    <footer></footer>
    <script src="./main.js" type="module"></script>
  </body>
</html>
