<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>주문 이력 조회</title>
    <link rel="stylesheet" href="/public/css/style.css" />
    <link rel="stylesheet" href="./custom.css" />
  </head>
  <body>
    <header>
      <h1>
        <!-- 임시로 제품 페이지 -->
        <a href="/">
          <img src="/public/images/common/logo.png" alt="간식조아" />
        </a>
      </h1>
      <nav>
        <span><a href="/">제품</a></span>
        <span><a href="/login">로그인</a></span>
        <span><a href="/basket">장바구니</a></span>
        <span><a href="/orders">주문·배송</a></span>
      </nav>
    </header>

    <main>
      <div class="payment_history">
        <div class="flex-justify-between payment_history_header">
          <div>주문번호</div>
          <div>대표 제품명</div>
          <div>배송 상태</div>
          <div>결제 금액</div>
        </div>
        <div class="payment_history_body">
          <!-- <div class="flex-justify-between payment_history_detail">
            <div class="order_number">
              <a href="/orders/202212313"> 20221102132 </a>
            </div>
            <div class="order_title">제품명제품명제품명...</div>
            <div class="order_status">배송 준비중</div>
            <div class="order_total_price">250,000원</div>
          </div> -->
        </div>
      </div>
    </main>
    <footer>&copy; 2022 오히려좋아 by elice 5팀</footer>
    <script src="./main.js" type="module"></script>
  </body>
</html>
