<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>간식조아 | 주문 상세 조회</title>
    <link rel="stylesheet" href="/public/css/style.css" />
    <script src="/public/scripts/layout.js" defer></script>
  </head>

  <body>
    <header></header>

    <main class="flex-all-center">
      <div>
        <div class="content-box">
          <div class="order_wrapper">
            <em>주문 상세</em>
            <div class="w-ls">
              <!-- 여기부터 -->
              <!--<div class="order_number">
                <span class="order_number_detail">20221102-1502-1220228z1</span>
              </div>
              <div>
          <div class="order_summary">${summaryTitle}</div>
          <div class="order_status"> ${status} </div>
          <div class="order_price"> ${totalPrice.toLocaleString('ko-kr')} </div>
        </div> -->
              <!-- 여기까지 -->
            </div>
          </div>
        </div>
        <div class="content-box">
          <div class="delivery_detail">
            <!-- <div class="delevery_info"> -->
            <!-- 여기부터 -->
            <!-- <em>배송 정보</em>
            <div>
              <div class="line">
                <span class="receiver_name">아무개</span>
              </div>
              <div class="line">
                <span class="receiver_address"
                  >OOOOO 열한시 이십오분 삼십칠초 401</span
                >
              </div>
              <div class="line">
                <span class="receiver_phone_number">010 1234 1234</span>
              </div>
              <div class="line">
                <span class="delevery_status">배송 중</span>
              </div>
            </div> -->
            <!-- 여기까지 -->
            <!-- </div> -->
          </div>
          <p class="center">
            <button type="button" class="order_change_btn middle bg-darkgreen">
              배송 정보 수정
            </button>
            <button type="button" class="order_cancel_btn middle bg-deepgray">
              주문 취소
            </button>
          </p>
        </div>
      </div>
    </main>
    <footer></footer>
    <script src="./main.js" type="module"></script>
  </body>
</html>
