<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>주문 상세 조회</title>
    <link rel="stylesheet" href="/public/css/style.css" />
    <link rel="stylesheet" href="./custom.css" />
  </head>
  <body>
    <header>
      <h1>
        <a href="/"
          ><img src="/public/images/common/logo.png" alt="간식조아"
        /></a>
      </h1>
      <nav>
        <span><a href="/categories">제품</a></span>
        <span><a href="/login">로그인</a></span>
        <span><a href="/basket">장바구니</a></span>
        <span><a href="/orders">주문·배송</a></span>
      </nav>
    </header>

    <main>
      <div class="wrapper order-detail">
        <div class="wrapper flex-column">
          <div class="order_number">
            <span>주문 번호: </span>
            <span class="order_number_detail">20221102-1502-1220228z1</span>
          </div>
          <div class="order_detail">
            <h4>주문 상세</h4>
            <div class="order_wrapper flex-column">
              <div class="row">
                <span class="column">주문 요약</span>
                <span class="column">배송상태</span>
                <span class="column">총 가격</span>
              </div>
              <!-- <div class="row">
                <span class="order_summary">NOT FOR SALE</span>
                <span class="column order_status"> 2 </span>
                <span class="column order_price"> 2000 </span>
              </div> -->
            </div>
          </div>
        </div>
        <div class="wrapper delivery_detail">
          <!-- <div class="delevery_info">
            <h4>배송 정보</h4>
            <div class="info flex-column">
              <div class="line">
                <span>이름</span>
                <span class="receiver_name">아무개</span>
              </div>
              <div class="line">
                <span>주소</span>
                <span class="receiver_address"
                  >OOOOO 열한시 이십오분 삼십칠초 401</span
                >
              </div>
              <div class="line">
                <span>연락처</span>
                <span class="receiver_phone_number">010 1234 1234</span>
              </div>
              <div class="line">
                <span>배송상태</span>
                <span class="delevery_status">배송 중</span>
              </div>
            </div> -->
          </div>
          <a href="/order-change" class="button is-link">배송 정보 수정</a>
          <button class="button is-link order_cancel_btn">주문 취소</button>
        </div>
      </div>
    </main>
    <footer>&copy; 2022 오히려좋아 by elice 5팀</footer>
    <script src="./main2.js" type="module"></script>
  </body>
</html>
