:root {
  --white: #fff;
  --blue: #557deb;
  --pink: #e67e7e;
  --deepred: #bf0000;
  --orange: #ff9225;
  --green: #18a956;
  --violte: #6c6ad3;
  --yellow: #ffe26d;
  --darkgreen: #21920f;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
}

body {
  font-family: 'Poppins', 'Noto Sans KR', sans-serif;
}

h2 {
  text-align: center;
}

h2 span {
  display: inline-block;
  position: relative;
  margin: 3rem 0 7.5rem;
  text-align: center;
  font-weight: lighter;
  font-size: 2.5em;
}

h2 span::after {
  content: '';
  display: inline-block;
  position: absolute;
  left: 50%;
  bottom: -0.7rem;
  transform: translateX(-50%);
  width: 108%;
  height: 1.5rem;
  background-color: var(--yellow);
  z-index: -1;
}

.flex {
  display: flex;
}

.flex-justify-center {
  display: flex;
  justify-content: center;
}

.flex-justify-between {
  display: flex;
  justify-content: space-between;
}

.flex-all-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-column-center {
  display: flex;
  align-items: center;
}

.flex-column-bottom {
  display: flex;
  align-items: baseline;
}

/* class로 관리하는 background color */
.bg-blue {
  background-color: var(--blue);
}

.bg-pink {
  background-color: var(--pink);
}

.bg-deepred {
  background-color: var(--deepred);
}

.bg-orange {
  background-color: var(--orange);
}

.bg-green {
  background-color: var(--green);
}

.bg-violet {
  background-color: var(--violet);
}

.bg-yellow {
  background-color: var(--yellow);
}

.bg-darkGreen {
  background-color: var(--darkgreen);
}

.bg-transparent {
  background-color: transparent;
}

.color-pink {
  color: var(--pink);
}

.color-white {
  color: var(--white);
}

.blind {
  position: absolute;
  width: 1rem;
  height: 1rem;
  overflow: hidden;
  margin: -1rem;
  clip: rect(0, 0, 0, 0);
}

.unSeen {
  display: none;
}

/* margin */
.m-0-auto {
  margin: 0 auto;
}

.m-0 {
  margin: 0;
}

/* padding */
.p-0 {
  padding: 0;
}

/* padding 0 margin 0 */
.pm-reset {
  padding: 0;
  margin: 0;
}

.relativeDiv {
  position: relative;
}

/* font weight */
.bold {
  font-weight: bold;
}

/* fz */
.fz-s {
  font-size: 1em;
}

.fz-m {
  font-size: 1.6em;
}

.fz-l {
  font-size: 2.4em;
}

.fz-m-l- {
  font-size: 3.2em;
}

.fz-xl {
  font-size: 4em;
}

.position-relative {
  position: relative;
}

.position-absolute {
  position: absolute;
}

.text_blind {
  position: absolute;
  width: 1rem;
  height: 1rem;
  overflow: hidden;
  margin: -1rem;
  clip: rect(0, 0, 0, 0);
}

/* 로고 시작 */
.main_logo {
  display: inline-block;
  background-image: url('/public/images/common/logo-b.png');
  background-size: cover;
  width: 21.4rem;
  height: 7.9rem;
}
/* 로고 끝 */

/* 선택하는 탭 모양 시작 */
.category_tab {
  display: flex;
  width: 100%;
  margin-bottom: 1rem;
}

.category_tab li {
  flex: 1;
  min-width: 17rem;
  color: #555;
}

.category_tab li a {
  display: inline-block;
  width: 100%;
  text-align: center;
  padding: 1.5rem 0.5rem;
  border-bottom: 1px solid #ddd;
}

.category_tab li a.on {
  border: 1px solid #ddd;
  border-bottom: none;
}

.category_tab li a:hover {
  opacity: 0.5;
}
/* 선택하는 탭 모양 끝 */

/* 버튼 모양 */
.btn-s {
  display: inline-block;
  border-radius: 2.5rem;
  padding: 1rem 2rem;
  color: var(--white);
}
