:root {
  --white: #fff;
  --blue: #557deb;
  --pink: #e67e7e;
  --deepred: #bf0000;
  --orange: #ff9225;
  --green: #18a956;
  --violte: #6c6ad3;
  --yellow: #ffe26d;
  --darkgreen: #3f9550;
  --gray: #d9d9d9;
  --deepgray: #adadad;
  --darkgray: #787878;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
}

body {
  font-family: 'Poppins', 'Noto Sans KR', sans-serif;
}

/* Change the color to your own background color */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: background-color 5000s;
}

input:focus {
  outline: none;
}

input[readonly] {
  background-color: var(--gray);
  border: 1px solid #ccc;
}

a:hover {
  text-decoration: underline;
  opacity: 0.8;
}

h1 a:hover {
  text-decoration: none;
  opacity: 1;
}

button {
  opacity: 0.92;
}

button:hover {
  opacity: 1;
}

h2 {
  text-align: center;
  margin-top: 6rem;
  margin-bottom: 9rem;
}

h2 span {
  display: inline-block;
  position: relative;
  text-align: center;
  font-weight: lighter;
  font-size: 2.5em;
}

h2 span.hightlight::after {
  content: '';
  display: inline-block;
  position: absolute;
  left: 50%;
  bottom: -0.7rem;
  transform: translateX(-50%);
  width: 108%;
  height: 1.5rem;
  background-color: var(--yellow);
  z-index: -1;
}

.flex {
  display: flex;
}

.flex-justify-center {
  display: flex;
  justify-content: center;
}

.flex-justify-between {
  display: flex;
  justify-content: space-between;
}

.flex-all-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-column-center {
  display: flex;
  align-items: center;
}

.flex-column-bottom {
  display: flex;
  align-items: baseline;
}

/* class로 관리하는 background color */
.bg-blue {
  background-color: var(--blue);
}

.bg-pink {
  background-color: var(--pink);
}

.bg-deepred {
  background-color: var(--deepred);
}

.bg-orange {
  background-color: var(--orange);
}

.bg-green {
  background-color: var(--green);
}

.bg-violet {
  background-color: var(--violet);
}

.bg-yellow {
  background-color: var(--yellow);
}

.bg-darkgreen {
  background-color: var(--darkgreen);
}

.bg-deepgray {
  background-color: var(--deepgray);
}

.bg-darkgray {
  background-color: var(--darkgray);
}

.bg-gray {
  background-color: var(--gray);
}

.bg-transparent {
  background-color: transparent;
}

.color-pink {
  color: var(--pink);
}

.color-white {
  color: var(--white);
}

.color-white {
  color: var(--white);
}

.blind {
  position: absolute;
  width: 1rem;
  height: 1rem;
  overflow: hidden;
  margin: -1rem;
  clip: rect(0, 0, 0, 0);
}

/* font weight */
.bold {
  font-weight: bold;
}

/* font style */
/* hightlight */
.fz-s {
  font-size: 1rem;
}

.fz-m {
  font-size: 1.6rem;
}

.fz-mm {
  font-size: 2rem;
}

.fz-l {
  font-size: 2.4rem;
}

.fz-m-l {
  font-size: 3.2rem;
}

.fz-xl {
  font-size: 4rem;
}

.mt-s {
  margin-top: 1rem;
}

.mt-m {
  margin-top: 1.6rem;
}

.mt-mm {
  margin-top: 2rem;
}

.mt-l {
  margin-top: 2.4rem;
}

.mt-m-l {
  margin-top: 3.2rem;
}

.mt-xl {
  margin-top: 4rem;
}

/* width */
.w-s {
  width: 6rem;
}

.w-ms {
  width: 10rem;
}

.w-mm {
  width: 20rem;
}

.w-ls {
  width: 55rem;
}

.w-l {
  width: 70rem;
}

/* height */
.h-s {
  height: 8rem;
}

.h-l {
  height: 38rem;
}

/* font style set */
.font-hightlight {
  font-size: 3rem;
}

.position-relative {
  position: relative;
}

.position-absolute {
  position: absolute;
}

.text_blind {
  position: absolute;
  width: 1rem;
  height: 1rem;
  overflow: hidden;
  margin: -1rem;
  clip: rect(0, 0, 0, 0);
}

/* 로고 시작 */
.main_logo {
  display: inline-block;
  background-image: url('/public/images/common/logo-b.png');
  background-size: cover;
  width: 21.4rem;
  height: 7.9rem;
}

/* 로고 끝 */

/* 선택하는 탭 모양 시작 */
.category_tab {
  display: flex;
  width: 100%;
  margin-bottom: 1rem;
}

.category_tab li {
  flex: 1;
  min-width: 17rem;
  color: #555;
}

.category_tab li a {
  display: inline-block;
  width: 100%;
  text-align: center;
  padding: 1.5rem 0.5rem;
  border-bottom: 1px solid #ddd;
}

.category_tab li a.on {
  border: 1px solid #ddd;
  border-bottom: none;
}

/* 선택하는 탭 모양 끝 */

/* 버튼 모양 */
.btn-s {
  display: inline-block;
  border-radius: 2.5rem;
  padding: 1rem 2rem;
  color: var(--white);
}

.btn-m {
  display: inline-block;
  border-radius: 2.5rem;
  padding: 1rem 2rem;
  color: var(--white);
}

.btn-m-box {
  display: inline-block;
  border-radius: 0.5rem;
  padding: 1rem 2rem;
  color: var(--white);
  font-weight: bold;
}

.small {
  display: inline-block;
  padding: 0.5rem 1rem;
  border-radius: 0.3rem;
  color: #fff;
}

.middle {
  display: inline-block;
  padding: 1rem 2rem;
  border-radius: 0.3rem;
  color: #fff;
  /* width: 100%; */
  font-size: 1.6rem;
}

.full {
  display: inline-block;
  padding: 1rem 6rem;
  border-radius: 0.3rem;
  color: #fff;
  width: 100%;
  font-size: 1.6rem;
}

/* 태그 감싸는  */
.box-style-center {
  width: 80%;
  display: flex;
  flex-direction: column;
  /* height: calc(100vh - 28.3rem); */
  margin: 0 auto;
  justify-content: center;
  align-items: center;
}

.box-style-center > form {
  font-size: 2.2rem;
  text-align: center;
  padding: 3rem 6rem;
  border: 1px solid #ebebeb;
  box-shadow: 2px 2px 12px #e7e7e7;
}

.box-style-center > form > div {
  display: flex;
  margin-top: 2.8rem;
}

.box-style-center > form > div > label {
  display: flex;
  align-items: center;
  text-align: left;
  width: 14rem;
  font-size: 1.8rem;
  /* margin-right: 2rem; */
}

.box-style-center > form input:not([type='radio']) {
  padding: 1rem 0.7rem;
  background: #ffffff;
  border: none;
  border-bottom: 1px solid #ccc;
}

.box-style-center > form > div:last-child {
  display: inline-block;
  width: 100%;
  margin-top: 3rem;
  margin-bottom: 0.8rem;
  font-size: 1.6rem;
}

.box-style-center > form > .description {
  font-size: 1.4rem;
}

.box-style-center > form > .description > div {
  margin-right: 4rem;
}

.box-style-center > form > .description > div:first-child {
  width: 14rem;
  text-align: left;
}

.box-style-center > form button.full:not(:first-child) {
  margin-top: 1rem;
}

.box-style-center > .btn-collect {
  width: 42rem;
  margin-top: 3rem;
  text-align: center;
}

.box-style-center > .btn-collect a {
  display: inline-block;
  margin: 0 3rem;
  width: 10rem;
}

.content-box {
  margin: 0 auto;
  max-width: 95%;
}

.content-box input {
  padding: 1rem 0.4rem;
  background: #fff;
  border: none;
  border-bottom: 1px solid #ccc;
}

.content-box input:read-only {
  background: none;
  border: none;
}

.content-box > div {
  /* border: 1px solid #ddd; */
  border: 1px solid #ebebeb;
  padding: 2rem;
  margin: 1.2rem 0;
  box-shadow: 2px 2px 12px #e7e7e7;
}

.content-box em {
  background-color: var(--darkgray);
  color: #fff;
  padding: 0.2rem 0.6rem;
}

.content-box em ~ div > div {
  font-size: 1.4rem;
  padding-top: 2rem;
}

.content-box label {
  width: 10rem;
  display: inline-block;
  text-align: center;
}

.table-box span {
  display: inline-block;
  text-align: center;
}

.table-box > :first-child {
  display: flex;
  justify-content: space-between;
  /* margin-right: 1.6rem; */
  padding-top: 1.6rem;
  padding-bottom: 1.2rem;
}

.table-box > :first-child > span {
  display: inline-block;
  flex: 1;
}

.table-box > :first-child > span:first-child {
  flex: 2;
}

.table-box > :first-child > span:last-child {
  flex: 1;
}

.table-box span a {
  text-decoration: underline;
}

.table-box > :last-child {
  overflow-y: auto;
  padding-top: 0;
}

.table-box > :last-child > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  line-height: 1.9;
}

.table-box > :last-child > div span:first-child {
  flex: 2;
}
.table-box > :last-child > div span {
  flex: 1;
}
