<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="keyword" content="고양이 사료 장난감 츄르 간식 화장실 용품" />
    <meta name="description" content="반려동물 친구들을 위한 다양한 아이템샵" />
    <meta name="author" content="[5팀]오히려좋아" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://kdt-sw3-team05.elicecoding.com/" />
    <meta property="og:title" content="(주) 간식조아" />
    <meta property="og:site_name" content="[5팀]오히려좋아" />
    <meta
      property="og:description"
      content="반려동물 친구들을 위한 다양한 아이템샵"
    />
    <meta property="og:locale" content="ko_KR" />
    <meta property="og:image" content="/public/images/common/logo-square.png" />
    <meta property="og:image:width" content="400" />
    <meta property="og:image:height" content="400" />
    <title>회원가입 | 간식조아</title>
    <link rel="shortcut icon" href="/public/images/common/favicon.ico" />
    <link rel="stylesheet" href="/public/css/style.css" />
    <script type="module" src="/public/scripts/layout.js" defer></script>
    <script type="module" src="./main.js" defer></script>
  </head>
  <body>
    <header></header>

    <main class="flex-column-center">
      <div class="box-style-center">
        <form class="registerForm">
          <div>
            <label>Email</label>
            <input
              type="email"
              name="email"
              class="email"
              placeholder="abcde@email.com"
            />
          </div>
          <div>
            <label>Name</label>
            <input
              class="userName"
              name="userName"
              type="text"
              placeholder="간식매니아"
              minlength="2"
            />
          </div>
          <div>
            <label>Password</label>
            <input
              type="password"
              name="password"
              class="password"
              placeholder="대소문자, 숫자 포함 8글자 이상"
            />
          </div>
          <div>
            <label>Password Confirm</label>
            <input
              type="password"
              name="password2"
              class="password2"
              placeholder="비밀번호 재입력"
            />
          </div>

          <div class="description flex-column-center">
            <div>개인정보 제공 동의</div>
            <div>
              <label for="register_yes">
                <input id="register_yes" type="radio" name="question" checked />
                Yes
              </label>
            </div>
            <div>
              <label for="register_no">
                <input id="register_no" type="radio" name="question" />
                No
              </label>
            </div>
          </div>

          <div>
            <button type="submit" class="btn-submit full bg-darkgreen">
              가입
            </button>
            <button type="button" class="btn-cancle full bg-deepgray">
              취소
            </button>
          </div>
        </form>
      </div>
    </main>
    <footer></footer>
  </body>
</html>
