<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>등록</title>
    <link rel="stylesheet" href="/public/css/style.css" />
    <link rel="stylesheet" href="./custom.css" />
    <script src="./script.js" defer></script>
  </head>
  <body>
    <header>
      <h1>
        <a href="/"
          ><img src="/public/images/common/logo.png" alt="간식조아"
        /></a>
      </h1>
      <nav>
        <span><a href="/product">제품</a></span>
        <span><a href="/profile">내정보</a></span>
        <span><a href="/login">로그인</a></span>
        <span><a href="/register">회원가입</a></span>
        <span><a href="/basket">장바구니</a></span>
        <span><a href="/pay-history">주문·배송</a></span>
      </nav>
    </header>

    <main>
      <div class="wrapper register-form block">
          <div class="field">
            <label class="label">Email</label>
              <div class="control has-icons-left has-icons-right">
                <input
                  class="email input"
                  type="email"
                  placeholder="abcde@email.com"
                />
              </div>
              <!-- <button class="btn-check" type="button">중복검사</button> -->
            <!-- <p class="help is-danger">This email is invalid</p> -->
          </div>

          <div class="field">
            <label class="label">Username</label>
              <div class="control has-icons-left has-icons-right">
                <input
                  class="userName input"
                  type="text"
                  placeholder="간식매니아"
                  minlength="2"
                />
              </div>
          </div>

          <div class="field">
            <label class="label">Password</label>
              <div class="control has-icons-left has-icons-right">
                <input
                  type="password"
                  name="password"
                  class="password input"
                  placeholder="영어대문자, 소문자, 숫자로 8글자 이상"
                />
                <!-- <p class="help is-danger">Password is not safe</p> -->
              </div>
          </div>

          <div class="field">
            <label class="label">Password Confirm</label>
              <div class="control has-icons-left has-icons-right">
                <input
                  type="password"
                  name="password2"
                  class="password2 input"
                  placeholder="비밀번호 재입력"
                />
                <!-- <p class="help is-danger">Password is not safe</p> -->
              </div>
          </div>

          <div class="field">
            <div class="control">
              개인정보 제공에 동의
              <label class="radio">
                <input type="radio" name="question" checked />
                Yes
              </label>
              <label class="radio">
                <input type="radio" name="question" />
                No
              </label>
            </div>
          </div>

          <div class="field is-grouped">
            <div class="control">
              <button class="btn-submit button is-link">Submit</button>
            </div>
            <div class="control">
              <button class="btn-cancle button is-link is-light">Cancel</button>
            </div>
          </div>
        </form>
      </div>
    </main>
    <footer>&copy; 2022 오히려좋아 by elice 5팀</footer>
  </body>
</html>
