<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>등록</title>
    <link rel="stylesheet" href="/public/css/style.css" />
    <link rel="stylesheet" href="./custom.css" />
    <script src="/public/scripts/layout.js" defer></script>
    <script src="./main.js" defer></script>
  </head>
  <body>
    <header></header>

    <main class="flex-column-center">
      <div class="box-style-center">
        <form action="">
          <div>
            <label>Email</label>
            <input type="email" placeholder="abcde@email.com" />
          </div>
          <div>
            <label>Name</label>
            <input
              class="userName"
              type="text"
              placeholder="간식매니아"
              minlength="2"
            />
          </div>
          <div>
            <label>Password</label>
            <input
              type="password"
              name="password"
              class="password"
              placeholder="영어, 숫자로 8글자 이상"
            />
          </div>
          <div>
            <label>Password Confirm</label>
            <input
              type="password"
              name="password2"
              class="password2"
              placeholder="비밀번호 재입력"
            />
          </div>

          <div class="description flex-column-center">
            <div>개인정보 제공 동의</div>
            <div>
              <label for="register_yes">
                <input id="register_yes" type="radio" name="question" checked />
                Yes
              </label>
            </div>
            <div>
              <label for="register_no">
                <input id="register_no" type="radio" name="question" />
                No
              </label>
            </div>
          </div>

          <div>
            <button class="btn-submit full bg-darkgreen">가입</button>
            <button class="btn-cancle full bg-deepgray">취소</button>
          </div>
        </form>
      </div>
    </main>
    <footer></footer>
  </body>
</html>
