@import "./common.css";

.wrapper {
  width: 80%;
  padding: 1rem;
  margin: 0 auto;
}
.user-info {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.user-info-line {
  width: 100%;
  display: flex;
  justify-content: space-around;
}
