<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- <link rel="stylesheet" href="../../../public/css/style.css" /> -->
    <link rel="stylesheet" href="custom.css" />
    <title>Document</title>
  </head>
  <body>
    <header>
      <nav>haeder</nav>
    </header>
    <main>
      <div class="admin_user_wapper">
        <div class="admin_user_header">
          <h1>유저 목록</h1>
          <button class="back_admin_main_bnt">전체 메뉴로</button>
        </div>
        <div class="workspace_container">
          <div class="workspace">
            <div class="list_name">
              <div><span>이름</span></div>
              <div><span>이메일</span></div>
              <div><span>전화번호</span></div>
              <div><span>주소</span></div>
              <div><span>가입일</span></div>
            </div>
            <div class="user_dateil"></div>
          </div>
          <button class="user_order_bnt">주문정보 바로보기</button>
        </div>
      </div>
    </main>
    <script src="main.js"></script>
  </body>
</html>
